 <%- include('partials/header'); -%>
<h1>Home</h1>
<p class="abcd"><%= FirstContent %></p>
 <% postss.forEach(function(post){ %>
  <h1><%= post.title %></h1>
  <p><%= post.content.substring(0,50) + " ..." %><a href="/posts/<%= post._id %>">Read more</a></p>
  <% })  %>
  <br>
  <br>
  <br>
  <form class="abcd" action="/shreyas" method="post">
   <h3>You can compose your own blogs !</h3>
   <button type="submit" class="btn btn-lg btn-primary" name="button45">Publish it out !</button>
  </form>

 <%- include('partials/footer'); -%>
